PORT=3000
DATABASE_URL=./data/lia-physics.db
RUSTFS_ENDPOINT=http://localhost:9000
RUSTFS_ACCESS_KEY=liaadmin
RUSTFS_SECRET_KEY=liaphysicssecret
RUSTFS_BUCKET=lia-assets
STORAGE_PUBLIC_URL=http://localhost:9000/lia-assets
ADMIN_TOKEN=ganti-token-admin-ini
